<product-container 
    header="Todos los productos"
    subHeader="Para todos los gustos">

    @if(productsResource.isLoading()){
        <app-loading />
    }

    @if(productsResource.hasValue()){
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
            @for(product of productsResource.value().products; track product.id;){
                <product-card [product]="product" />
            }@empty {
                <p>No hay productos</p>
            }
        </div>
        
        <app-pagination 
            [currentPage]="currentPage()"
            [pages]="productsResource.value().pages" />
    }
</product-container>



