@let localProduct = product();

<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form
  class="grid grid-cols-1 sm:grid-cols-2 gap-4"
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input
      type="text"
      placeholder="Título"
      class="input input-bordered w-full"
      formControlName="title"
      [class.border-red-500]="inputHasErrors('title')"
    />
    <form-error-label [control]="productForm.controls.title" />

    <input
      type="text"
      formControlName="slug"
      placeholder="Slug"
      class="input input-bordered w-full"
      [class.border-red-500]="inputHasErrors('slug')"
    />
    <form-error-label [control]="productForm.controls.slug" />

    <textarea
      class="textarea textarea-bordered"
      placeholder="Descripción"
      rows="6"
      formControlName="description"
      [class.border-red-500]="inputHasErrors('description')"
    ></textarea>
    <form-error-label [control]="productForm.controls.description" />

    <h2 class="text-lg font-bold">Datos de venta</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
        <div>
            <input
              type="number"
              placeholder="Precio"
              class="input input-bordered w-full"
              formControlName="price"
              [class.border-red-500]="inputHasErrors('price')"
            />
            <form-error-label [control]="productForm.controls.price" />
        </div>
        <div>
            <input
              type="number"
              placeholder="Inventario"
              class="input input-bordered w-full"
              formControlName="stock"
              [class.border-red-500]="inputHasErrors('stock')"
            />
            <form-error-label [control]="productForm.controls.stock" />
        </div>
    </div>

    <input
      type="text"
      placeholder="Tags"
      formControlName="tags"
      class="input input-bordered w-full"
      [class.border-red-500]="inputHasErrors('stock')"
    />
    <form-error-label [control]="productForm.controls.tags" />

    <div class="grid grid-cols-3 gap-2">
      <button
        class="btn btn-sm"
        [class.btn-primary]="productForm.value.gender === 'men'"
        type="button"
        (click)="setGender('men')"
      >
        Masculino
      </button>
      <button
        class="btn btn-sm"
        [class.btn-accent]="productForm.value.gender === 'women'"
        type="button"
        (click)="setGender('women')"
      >
        Femenino
      </button>
      <button
        class="btn btn-sm"
        [class.btn-warning]="productForm.value.gender === 'kid'"
        type="button"
        (click)="setGender('kid')"
      >
        Kid
      </button>
      <button
        class="btn btn-sm"
        [class.btn-secondary]="productForm.value.gender === 'unisex'"
        type="button"
        (click)="setGender('unisex')"
      >
        Unisex
      </button>
    </div>

    <!-- <select class="select select-bordered w-full">
      <option value="male">Masculino</option>
      <option value="female">Femenino</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button
        class="btn btn-sm btn-outline"
        [class.btn-primary]="productForm.value.sizes?.includes(size)"
        type="button"
        (click)="onSizeClicked(size)"
      >
        {{ size }}
      </button>
      }
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        Guardar
      </button>
    </div>

    <product-image-carousel [images]="localProduct.images" />

    <input type="file" formGroupName="images" class="file-input file-input-bordered w-full mt-4" />
  </div>
</form>

@if(canShowAlertMessage()){
  <app-alert [message]="alertMessage()" />
}