/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/montserrat/montserrat-alternates-medium.ttf") format("truetype");
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}

html {
  font-family: "Montserrat", sans-serif;
}
